/* Base styles */
body {
  background: linear-gradient(to bottom, #FFD7B1, #DD946A, #BC583B);
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont ,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;

}

/* Layout containers */
.login-container {
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  min-width: max-content;
  min-height: max-content;
  width: 45vw;
  height: 80vh;
  margin: auto;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 10%) 0%, rgba(153, 153, 153, 10%));
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.login-container-circle {
  border-radius: 50%;
  width: 40vw;
  height: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

/* includes title and the login-form */
.login-content {
  overflow-y: auto;
  border-radius: 15%;
  width: 45vw;
  height: 80vh;
  padding: 0.5rem;
}

/* includes title and the login-form */
.login-content-circle {
  width: 80%;
  height: 80%;
  overflow-y: auto;
  border-radius: 15%;
  
  padding: 0.5rem;
}

/* refers to the whole form from the first input to the footer */
.login-form {
  display: grid;
  grid-template-columns: 1fr; /* Ensures it takes full width */
  gap: 10px;
  align-items: center;
  margin: 0 auto; 
  width: 85%;
}

/* inclues all input type */
.login-form input, select, button {
  width: 100%;
  padding: 0.75rem 1rem; 
  border: 1.5px solid #fed7aa;
  border-radius: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 80%);
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  background-color: #FFF6E7;
} 

.login-form input::placeholder, .login-form select::placeholder {
  color: rgba(0, 0, 0, 31%);
}

.login-form input:focus, .login-form select:focus {
  outline: none;
  color: #000000;
  border-color: #ea580c;
}

/* input fields that will be on the same line:- firstName and DOB, lastName and gender */
.input-group-short {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

/* block level input fields:- username, email, phoneNumber, password */
.input-group-long {
  display: block;
  width: 100%;
}

/* refers to "Create Account" */
.login-title {
  display:block;
  color: #FFFFFF;
  text-shadow: 2px 2px #9ca3af;
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-title-circle {
  display:block;
  color: #FFFFFF;
  text-shadow: 2px 2px #9ca3af;
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-button {
  width: 80%;
  max-width: 300px;
  background-color: rgba(255, 246, 231, 51%);
  border-color: linear-gradient(to bottom,rgb(255, 255, 255), #FFD7B1);
  border-radius: 0.5rem;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  margin: 2rem auto 0 auto;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login-button:hover {
  background-color: rgba(255, 246, 231, 51%);
  color: #f8f8f8;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(255, 213, 200, 0.476);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(255, 213, 200, 0.476);
  border-color: linear-gradient(to bottom, rgb(255, 255, 255), rgb(234, 88, 12));
  transform: translateY(-3px);
}

/* takes the user to the log in page if they already have an account */
.login-footer {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 60%;
  max-width: 250px;
  margin: 0 auto;
}

/* refers to:- Already have an account? */
.signup-prompt {
  font-size: 1rem;
  color: rgba(0, 0, 0, 30%);
  width: 100%;
  text-align: center;
}

/* refers to:- Don't have an account? */
.signup-prompt-circle {
  font-size: 1rem;
  color: rgba(0, 0, 0, 30%);
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

.login-signup-link {
  color: #FFFFFF;
  font-weight: 600;
  margin-left: 5px;
  text-shadow: 2px 2px 2 #9ca3af;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.login-signup-link:hover {
  color: #FFF6E7;
  text-decoration: underline;
  transform: translateY(-3px) scale(1.1);
  text-shadow: 0px 0px 10px #FFF6E7;
}

.forgot-password {
  color: rgba(0, 0, 0, 30%);
  text-decoration: none;
  font-size: 0.9rem;
  width: 100%;
  text-align: right;
  text-shadow: 2px 2px 2 #9ca3af;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.forgot-password:hover {
  color: #ea580c;
  text-shadow: 0px 0px 10px rgb(239, 185, 141);
  text-decoration: underline;
  transform: translateY(-3px);
  width: 100%;
  text-align: right;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .login-card {
    padding: 2rem;
    max-width: 95%
      /* Adjust for small screen size */
  }

  .login-title {
    font-size: 2rem;
  }

  .login-container-circle {
    width: 80vw;
    height: 80vw;
  }
}

/* Error message style */
.error {
  color: #ee5705;
}
